@CHARSET "UTF-8";

.kindOfBooks {
  margin: 20px 0px 0px 10px;  
}

.kindOfBooks input {
  margin-left: 20px;
  margin-right: 5px;
}

.conditions {
  margin: 10px 0px 30px 30px;
}

.conditions input {
  margin-top: 10px;
  width: 250px;
}

.conditions table {
    border: none;
}

.conditions th {
  
}

.conditions td {
  border: none;
  vertical-align: text-top;
}

.conditions select {
  max-height: 30px;
}

h2 {
  margin: 0px 0px 0px 0px;
font-size: 18pt;
}

h3 {
  font-size: 14pt;
  margin-left: 30pt;
}