@CHARSET "UTF-8";

.primeRadio {

}

.primeRadio td:nth-child(1) .ui-icon-bullet {
  background-color: blue;
}

.primeRadio td:nth-child(3) .ui-icon-bullet {
  background-color: red;
}

.jsfRadio {

}

.jsfRadio (1): {
  background-color: blue;
}


.ui-radiobutton-icon {
  background-color: beige;
}

.jsfRadio > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1)  {
  background-color: red;
  transform: scale(2);
}

.jsfRadio > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > label:nth-child(2) {
  color: red;
  //visibility: hidden;
  display: -moz-popup;
}

#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #ffffff;
  z-index: 1;
}
#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #ffffff;
  z-index: 2;
}